:root {
  --container-max-width: 1800px;
  --container-padding: 60px;
  --black-100: #282828;
  --black-24: #cbcbcb;
  --white: #fff;
  --beige: #f7f7f7;
  --black-12: #e5e5e5;
  --black-78: #4f4f4f;
  --black-64: #757575;
  --black-40: #a9a9a9;
}
